# Your first lines of code

# DATA SCIENCE IS COOL

In [ ]:
#print hello darkness my old friend in upper case
print()

In [83]:
??print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

## 1. Variables and Data Types


Variable names should be descriptive and avoid abbreviations unless they are commonly understood. Variables should start with a letter or underscore and can contain letters, numbers, or underscores, but they should not start with a number. Additionally, reserved keywords in Python, such as class, def, or return, should not be used as variable names. The goal of these conventions is to make code easier to read and maintain.

Python basic built-in data types such as
1. floats
2. integers
3. strings
4. booleans

In [22]:
bank_balance = 5000.75  # A float representing a bank balance in USD
days_in_week = 7        # Integer representing the days in a week
my_dog_name = "Baby Furiosa" #string value
veredict = True

In [23]:
# Checking the data types of variables
print(type(bank_balance))  
print(type(days_in_week)) 
print(type(my_dog_name))
print(type(veredict))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>


In Python, strings can be enclosed in either single quotes (' ') or double quotes (" "), and both types are functionally equivalent. This flexibility allows you to choose the style that best fits your code or the context. For example, if your string contains a single quote, you can use double quotes to avoid needing an escape character, like "It's a sunny day". Similarly, if your string contains double quotes, you can use single quotes, like 'He said, "Hello!"'. If a string contains both single and double quotes, or if it spans multiple lines, you can use triple quotes (''' ''' or """ """), which allow you to write multi-line strings or include both types of quotation marks without escaping them. Additionally, to include special characters like newlines (\n) or tabs (\t) within a string, you can use escape sequences prefixed with a backslash.

## 2. Basic Arithmetic

In [16]:
a = 5
b = 2

# Addition
print(a + b) 

# Subtraction
print(a - b)  

# Multiplication
print(a * b)  

# Division
print(a / b)  

# Integer Division (returns the floor of the division)
print(a // b) 

# Modulus (remainder)
print(a % b) 

# Exponentiation
print(a ** b)

7
3
10
2.5
2
1
25

## 3. Comparison operators

In [24]:
# Example: Basic comparison operators

x = 15
y = 20

# Equal to (==)
print(x == y)  

# Not equal to (!=)
print(x != y) 

# Greater than (>)
print(x > y)  

# Less than (<)
print(x < y)

# Greater than or equal to (>=)
print(x >= 10) 

# Less than or equal to (<=)
print(y <= 20)

False
True
False
True
True
True

## 4. Logical operators

In [26]:
#Another way of assigning variables
x, y, z = 5, 10, 15

In [27]:
# Logical AND: both conditions must be True
print((x < y) and (y < z)) 

# Logical OR: at least one condition must be True
print((x > y) or (y < z)) 

# Logical NOT: inverts the condition
print(not(x > y))

True
True
True

In Python, | (bitwise OR) and & (bitwise AND) are typically used for bitwise operations on integers. However, they can also be used with logical operations when working with arrays or pandas dataframes (often seen in data science contexts).

In [32]:
# Example: Using | and & for logical operations

x = 10
y = 5
z = 2

# Logical OR (|)
print((x < y) | (z < y)) 

# Logical AND (&)
print((y < x) & (z > y))

#Always parentheses around expressions when using | and & for logical operations, to avoid operator precedence issues.

True
False

## 5. Conditional statements

In [67]:
temperature = 85  # Temperature in Celsius

if temperature > 90:
    "Temperature is too high, risk of fabric damage!"
elif temperature < 70:
    "Temperature is too low, inefficient dyeing process."
else:
    "Temperature is within the optimal range for dyeing."

 Strings

In [36]:
text = "Applied Statistical Data Analysis for Data Science Master Program "

In [39]:
# Indexing
text[0]  # First character

'A'

In [38]:
text[-1]  # Last character

' '

In [40]:
# Slicing
text[0:7]  # Get characters from index 0 to 6

'Applied'

In [44]:
text[:15]

'Applied Statist'

In [45]:
text[3:20]

'lied Statistical '

In [51]:
text[-8:-1]

'Program'

In [52]:
# String length
len(text)  # Length of the string

66

In [53]:
# String methods
text.upper()  # Convert to uppercase

'APPLIED STATISTICAL DATA ANALYSIS FOR DATA SCIENCE MASTER PROGRAM '

In [54]:
text.lower()  # Convert to lowercase

'applied statistical data analysis for data science master program '

In [55]:
text.replace("Master", "PhD")  # Replace a substring

'Applied Statistical Data Analysis for Data Science PhD Program '

In [57]:
# Checking substrings
"Data" in text  # Check if "Data" is in the string

True

In [66]:
text.startswith("Applied")  # Check if it starts with "Applied"

True

In [59]:
text.endswith("Program")  # Check if it ends with "Program"

False

In [62]:
# Using find method
text.find("Data")  # Find the index of the first occurrence of "Data"

20

In [63]:
text[20]

'D'

In [64]:
# Using strip method
text.strip()  # Remove leading and trailing whitespace

'Applied Statistical Data Analysis for Data Science Master Program'

In [65]:
for char in text:
    # Do something with each character, here we will just display it
    print(char)

A
p
p
l
i
e
d

S
t
a
t
i
s
t
i
c
a
l

D
a
t
a

A
n
a
l
y
s
i
s

f
o
r

D
a
t
a

S
c
i
e
n
c
e

M
a
s
t
e
r

P
r
o
g
r
a
m

In [70]:
text + "aaaaa"

'Applied Statistical Data Analysis for Data Science Master Program aaaaa'

## 6. More Data Types

Python has more data structures such tuples, sets, lists, and dictionaries

Tuple

	•	Ordered: The elements have a defined order and can be accessed using an index.
	•	Immutable: Once created, you cannot modify, add, or remove elements. This makes tuples suitable for storing fixed collections of items.
	•	Example use case: Storing dimensions, coordinates, or related fixed data like (length, width, height).

In [86]:
fabric_dimensions = (10, 5, 0.5)

# Accessing tuple elements
fabric_dimensions[0]  # Length
fabric_dimensions[1]  # Width
fabric_dimensions[2]  # Height

0.5

Set

	•	Unordered: Sets do not maintain the order of elements, and items cannot be accessed by index.
	•	Unique elements: Sets automatically remove duplicate elements and store only unique items.
	•	Mutable: You can add or remove elements, but elements themselves must be immutable (e.g., no lists or sets within a set).
	•	Example use case: Storing unique values, like a collection of unique colors in a textile process.

In [75]:
# Set example: Storing unique colors used in a dyeing process
dye_colors = {"red", "blue", "green", "blue"}  # Duplicate "blue" will be ignored

# Adding a new color to the set
dye_colors.add("yellow")

# Checking if a color is in the set
"blue" in dye_colors

# Removing a color
dye_colors.remove("green")

List

	•	Ordered: The elements have a defined order and can be accessed or modified using an index.
	•	Mutable: You can modify, add, or remove elements after the list is created.
	•	Allows duplicates: Lists can store duplicate elements.

In [91]:
fabric_types = ["cotton", "wool", "silk", "polyester"]

# Accessing list elements
fabric_types[0]  # "cotton"

# Adding a new fabric type
fabric_types.append("linen")

# Removing a fabric type
fabric_types.remove("wool")

# Slicing the list (first two elements)
fabric_types[2:]

['polyester', 'linen']

In [81]:
dir(fabric_types)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Dictionary

	•	Key-Value pairs: Each element in a dictionary is a pair, consisting of a key and a corresponding value.
	•	Unordered: Keys are not stored in any particular order (though in Python 3.7+, dictionaries preserve insertion order).
	•	Mutable: You can add, remove, and modify key-value pairs.
	•	Unique keys: Keys must be unique, while values can be duplicated..

In [77]:
fabric_prices = {
    "cotton": 12.5,
    "wool": 20.0,
    "silk": 50.0,
    "polyester": 8.0
}

# Accessing a price by fabric type
fabric_prices["silk"]  # 50.0

# Adding a new fabric type and price
fabric_prices["linen"] = 15.0

# Updating the price of an existing fabric
fabric_prices["cotton"] = 13.0

In [78]:
fabric_prices

{'cotton': 13.0, 'wool': 20.0, 'silk': 50.0, 'polyester': 8.0, 'linen': 15.0}

In [79]:
fabric_prices.keys()

dict_keys(['cotton', 'wool', 'silk', 'polyester', 'linen'])

In [80]:
dir(fabric_prices)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## 7. Loops and iterations

In [93]:
fabric_types = ["cotton", "wool", "silk", "polyester"]

for fabric in fabric_types:
    print(fabric)

cotton
wool
silk
polyester

In [94]:
for i in range(1, 6):
    i

In [96]:
for index, fabric in enumerate(fabric_types):
    print(index, fabric)

0 cotton
1 wool
2 silk
3 polyester

In [98]:
# Example: For loop to iterate over a dictionary of fabric prices
fabric_prices = {"cotton": 12.5, "wool": 20.0, "silk": 50.0}

for fabric, price in fabric_prices.items():
    print(fabric, price)

cotton 12.5
wool 20.0
silk 50.0

In [99]:
fabric_prices.items()

dict_items([('cotton', 12.5), ('wool', 20.0), ('silk', 50.0)])

In [103]:
fabric_types = ["cotton", "silk", "wool"]
colors = ["red", "blue", "brown"]

for fabric in fabric_types:
    for color in colors:
        print(fabric, color)

cotton red
cotton blue
cotton brown
silk red
silk blue
silk brown
wool red
wool blue
wool brown